*{
	font-family: "Open+Sans"
}
img{
	padding-left: 35%;
}
nav.navbar{
	background-color: white;
	border:white;
	padding: 3% 7%;
	
}

nav.navbar ul.nav li{
	font-size: 20px;
}
.bg{
	background-color: #8A8787;
	padding:5% 2% 5% 2%;
}

form{
	background-color: #BFBFBF;
	padding:5% 3%;
	border-radius: 5%;
	margin-top: 3%;
}
.btn{
	width: 100%;
	background-color: #26BDE8;
}
.title{
	color:white;
}
h2{
	color:white;
	font-weight: 700;
}
p{
	color:white;
	font-size: 18px;
}
.footer{
	color:black;
	font-size:16px;
	padding-left: 10%;
	padding-top:1%;
}