
.grey{
	background-color: #656262;

}
header{
	padding:10px 200px;
}

.menu{
	text-align: right;
	list-style: none;
	background-image: url(../image/logo2.png);
	background-repeat: no-repeat;
	background-position: left;
	background-size: 20% 100%;
}
li{
   
   display: inline;
   color:#D1D1D1;
   font-family: Courgette;
}
.txt{
	text-align: left;
	width: 35%;
	color:white;
	padding: 50px 200px;
	font-family: Courgette;
}
h2{
	font-size: 30px;
	width: 60%;
	font-family: Courgette;
}

h3{
	font-size: 16px;
	color:white;
	text-align: center;
	font-family: Courgette;
}


form{
	width:200px;
	margin: auto;
	background: rgba(0,0,0,0.4);
	padding: 10px 10px;
	box-sizing: border-box;
	margin-top: 5px;
	border-radius: 5px;
	background-color:#A8A8A8;
}

	input{
	width: 100%;
	margin-bottom: 5px;
	padding: 5px;
	box-sizing: border-box;
	font-size: 14px;
	display:table;
	font-family: Courgette;
}
.subscribe{
	color:white;
	text-align: center;
	background-color: #74B2FF;
	font-family: Courgette;

}
.form{
	position: absolute;
	bottom: 350px;
	left:60%;
    
}
span{
	color: blue;
}
footer{
	text-align: center;
}
p{
	font-family: Courgette;
}